@model IEnumerable<HangavioesDaFiel.Models.Travel>

@{
    ViewData["Title"] = "Index";
}

<h1>Viagens</h1>

<p style="float: right">
    <a asp-action="Create" class="btn btn-primary">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pilot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Copilot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airplane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Identifier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pilot.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copilot.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airplane.Identifier)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light">Detalhes</a>  
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Editar</a>  
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
